<template>
  <require from="./tree-node.css"></require>
  <div class="c-tree-node__item ${treeNode.isGroup? 'group-node':'single-node'}" title.bind="treeNode.name" click.trigger="toggleChildNode()"
    contextmenu="mymenu" contextmenu.trigger="showContextMenu($event)">${treeNode.name}
  </div>

  <div class="c-tree-node__child-node" if.bind="treeNode.isGroup && showChildNode" repeat.for="node of treeNode.children" click.delegate="showName(node)">${node.name}
    <span class="c-tree-node__child-equation">${node.equation}</span>
  </div>
<ul if.bind="showMenu" class="right-click-context-menu" ref="menu">
    <li click.trigger="itemClick()">AAAAAAAAAA</li>
    <li>BBBBBBBBBB</li>
</ul>
</template>

